{% extends "base.html" %}

{% block content %}
    <form class="mt-4" action="{% url 'create_project' %}" method="post">
     {% csrf_token %}
      <div class="form-group">
        <label for="projectNameInput">Enter Project Name</label>
        <input type="text" class="form-control" id="projectNameInput" name="project_name" placeholder="Your Project Name">
      </div>
        <div class="form-group">
            <label for="projectDescriptionInput">Project Description</label>
            <textarea class="form-control" id="projectDescriptionInput" name="project_description" rows="3"></textarea>
      </div>
        <div class="form-group">
              <label for="projectPriorityInput">Choose Priority</label>
              <select class="form-control" id="projectPriorityInput" name="project_priority">
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
              </select>
        </div>
      <div class="form-group">
        <label for="projectDevelopersInput">Assign Developers</label>
        <select multiple class="form-control" id="projectDevelopersInput" name="project_developers">
            {% for developer in developers %}
              <option value="{{ developer.username}}">{{ developer.username }}</option>
            {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-info">Create</button>
    </form>

      {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock  %}