{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <form action="{% url 'developer' %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="usernameInput">Username</label>
                    <input type="text" name="developer_username" class="form-control" id="usernameInput" >
                </div>

                <button type="submit" class="btn btn-info">Create</button>
            </form>
        </div>
        <div class="col-sm-8 mt-3">
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Developer's Username</th>
                        <th scope="col">Manager's Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for developer in developers %}
                        <tr>
                            <td>{{ developer.username }}</td>
                            <td>{{ developer.project_manager.username }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

      {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}

{% endblock  %}