{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Project Tracker Login</h1>
        <p class="lead">Only the Managers need to Login to see the Project details</p>
    </div>
   <form action="{% url 'login' %}" method="post">
       {% csrf_token %}
       <div class="form-group mt-5">
            <label for="usernameInput">Username</label>
            <input type="text" name="username" class="form-control" id="usernameInput" >
       </div>
       <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput">
       </div>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger mt-5">
            {{ error_message }}
        </div>
    {% endif %}
{% endblock %}