{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">View Developers</h1>
        <p class="lead">This dashboard helps Managers like you to easily create and view Developer Accounts</p>
        <hr class="my-4">
        <a class="btn btn-info btn-lg" href="{% url 'developer' %}">Create / View Developers</a>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Create New Projects</h1>
        <p class="lead">This dashboard helps Managers like you to easily create new Projects</p>
        <hr class="my-4">
        <a class="btn btn-info btn-lg" href="{% url 'create_project' %}">Create Projects</a>
    </div>

     <div class="jumbotron">
        <h1 class="display-4">Track Projects</h1>
        <p class="lead">This dashboard helps Managers like you to easily navigate across your Projects</p>
        <hr class="my-4">
        <a class="btn btn-info btn-lg" href="{% url 'view_project' %}">View Projects</a>
    </div>


{% endblock %}