{% extends "base.html" %}

{% block content %}

     <div class="row row-cols-1 row-cols-md-3 mt-4">
        {% for project in projects %}
            <div class="col mb-4">
                <div class="card bg-light">
                  <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                      <p class="card-text">{{ project.description }}</p>
                      <p class="card-text">Priority - <span class="text-primary">{{ project.priority }}</span></p>
                       <p class="card-text">Manager - <span class="text-primary">{{ project.project_manager.username }}</span></p>
                  </div>
                    <ul class="list-group">
                        {% for developer in project.developer.all %}
                             <li class="list-group-item"><span class="text-success">Developer - </span>{{ developer.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
          </div>
        {% endfor %}
    </div>


{% endblock  %}