<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
        <div class="container">
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-info">
                <a class="navbar-brand" href="{% url 'home' %}">TRACKER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link font-weight-bold" href="{% url 'login' %}">Login</a>
                      </li>
                        <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="{% url 'user' %}">User</a>
                        </li>

                    </ul>

                    <ul class="navbar-nav">
                          <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="{% url 'signup' %}">Sign Up</a>
                          </li>
                        <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="{% url 'logout' %}">Logout</a>
                          </li>
                    </ul>
              </div>
            </nav>

             {% block content %}{% endblock content %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>